h2{
	font-family: "Passion One", serif;
}
.color{
	color: #f3bc03;
}
.justificado{
	text-align: justify;
}
.dim{
	width: 535px;
	height: 1155px;
}
.dim2{
	width: 535px;
	height: 380px;
}
.dim3{
	width: 535px;
	height: 472px;
}
.dim4{
	width: 535px;
	height: 472px;
}
a{
	font-family: "Passion One", serif;
	font-size: 35px;
}